@use 'tools/mixins/breakpoint';

.u-space{
	&-top-24{
		margin-top: 24px;
	}
	&-top-56{
		margin-top: 56px;
	}
	&-top-60{
		margin-top: 60px;
	}
	&-top-72{
		margin-top: 72px;
	}
}

@include breakpoint.breakpoint(medium){
	.u-space{
		&-top-60{
			margin-top: 40px;
		}
	}
}

@include breakpoint.breakpoint(small){
	.u-space{
		&-top-24{
			margin-top: 16px;
		}
		&-top-72{
			margin-top: 48px;
		}
	}
}
