@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';

.u-small-caps{
	font-size: rem.rem(14);
	line-height: rem.rem(24);
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

@include breakpoint.breakpoint('type-break-2'){
	.u-small-caps{
		font-size: rem.rem(12);
	}
}
