{% macro contact() %}
	<section class="b-contact ">
		<div class="l-content-container l-content-container--6-col">
			<h3 class="e-eyebrow u-small-caps">Contact</h3>
			<h4 class="b-contact__heading e-heading--m">Give me some new problems to solve</h4>
			<p class="b-contact__copy e-text">An experienced Product Designer looking for a remote full-time position that will bring new challenges and opportunity for growth.</p>
			<a href="mailto:andyfarmer9@gmail.com" class="e-button">Send me an email</a>
			<p class="b-contact__footnote e-text--tiny">(opens mail client)</p>
		</div>
	</section>
{% endmacro %}
