<footer class="b-footer">
	<div class="b-footer__container l-content-container">
		<p class="b-footer__copy">&copy; Andy Farmer. All rights reserved.</p>
		<p class="b-footer__copy">No site builders here. <a href="https://github.com/andyfarmer/portfolio-site" class="b-footer__link">See the code on GitHub</a></p>
	</div>
</footer>
