{% extends './templates/base.njk' %}

{% from 'components/b-case-tile.njk' import caseTile %}
{% from 'components/b-navigation.njk' import navigation %}

{% block content %}

	<header class="b-home-header">
		<div class="l-content-container">
			{{ navigation('Home')}}
			<h1 class="b-home-header__heading e-heading e-heading--jumbo">Hi, I'm Andy</h1>
			<p class="b-home-header__intro">A T-shaped designer and strategist with over 12 years experience in crafting digital products and services.</p>
		</div>
	</header>

	<div class="b-experience l-content-container">
		<p class="b-experience__copy e-heading e-heading--m">From big brands to zero-to-one startups, I’ve worked with clients across multiple industries in both the public and private sector.</p>
		<img src="images/clients/wagg.svg" alt="Wagg dog food logo" class="b-experience__img b-experience__img--wagg">
		<img src="images/clients/playstation.svg" alt="Playstation logo" class="b-experience__img b-experience__img--playstation">
		<img src="images/clients/itv.svg" alt="ITV logo" class="b-experience__img b-experience__img--itv">
		<img src="images/clients/home-office.svg" alt="The Home Office logo" class="b-experience__img b-experience__img--home-office">
		<img src="images/clients/nhs.svg" alt="NHS logo" class="b-experience__img b-experience__img--nhs">
		<img src="images/clients/luhv.png" alt="Luhv Drinks logo" class="b-experience__img b-experience__img--luhv">
	</div>

	{{ caseTile({
		heading: 'Designing for scale with a robust design system',
		copy: 'How I designed the MVP of a highly-configurable Case Management System with a focus on reusability and rapid scalability.',
		img: 'images/case-study-tiles/ipm.jpg',
		href: '/case-studies/cms',
		dark: true,
		reversed: true
	}) }}

	<section class="b-portfolio-preview">
		<div class="l-content-container l-content-container--10-col">
			<h2 class="b-portfolio-preview__heading e-heading e-heading--xl">
				<span class="b-portfolio-preview__eyebrow e-eyebrow u-small-caps">Portfolio<span class="u-visually-hidden">:</span></span>
				User-centred design that delivers results
			</h2>
		</div>
		<div class="b-portfolio-preview__grid l-content-container">
			<img src="images/portfolio-grid-tiles/ddh-tall.jpg" alt="Preview of Drive Devilbiss website design" class="b-portfolio-preview__img-1">
			<img src="images/portfolio-grid-tiles/navy.jpg" alt="Preview of Navy Professional website design" class="b-portfolio-preview__img-2">
			<img src="images/portfolio-grid-tiles/duffield.jpg" alt="Preview of Duffield Timber website design" class="b-portfolio-preview__img-3">
			<img src="images/portfolio-grid-tiles/qm-personas.jpg" alt="Preview of Queen Marget's website user personas" class="b-portfolio-preview__img-4">
			<img src="images/portfolio-grid-tiles/learnid.jpg" alt="Preview of LearnID Mobile App design" class="b-portfolio-preview__img-5">
			<img src="images/portfolio-grid-tiles/severfield.jpg" alt="Preview of Severfield website designn" class="b-portfolio-preview__img-6">
		</div>
		<div class="b-portfolio-preview__cta">
			<a href="/portfolio" class="e-button">View portfolio</a>
		</div>
	</section>

	{{ caseTile({
		heading: 'Website redesign that sent sales souring',
		copy: 'How I delivered a complete new strategy and redesign that resulted in a huge increase in sales leads and online revenue.',
		img: 'images/case-study-tiles/duffield.jpg',
		href: '/case-studies/duffield-timber'
	}) }}

	<section class="b-contact">
		<div class="l-content-container l-content-container--4-col">
			<h3 class="b-contact__heading e-heading e-heading--l">Get in touch</h3>
			<p class="b-contact__copy e-text">To learn more about my experience or to get in contact, please reach out on LinkedIn.</p>
			<a href="https://www.linkedin.com/in/andy-farmer-305b0281" class="e-button">View LinkedIn profile</a>
		</div>
	</section>

{% endblock %}
