{% extends './templates/base.njk' %}

{% from 'components/b-navigation.njk' import navigation %}

{% block content %}

	<header class="b-header">
		<div class="l-content-container">
			{{ navigation('Home')}}
			<h1 class="b-header__heading e-heading e-heading--jumbo">Hi, I'm Andy</h1>
			<p class="b-header__intro">A T-shaped designer and strategist with over 12 years experience in crafting digital products and services.</p>
		</div>
	</header>

	<div class="b-experience l-content-container">
		<p class="b-experience__copy e-heading e-heading--m">From big brands to zero-to-one startups, I’ve worked with clients across multiple industries in both public and private sector.</p>
		<img src="images/clients/wagg.svg" alt="Wagg dog food logo" class="b-experience__img b-experience__img--wagg">
		<img src="images/clients/playstation.svg" alt="Playstation logo" class="b-experience__img b-experience__img--playstation">
		<img src="images/clients/itv.svg" alt="ITV logo" class="b-experience__img b-experience__img--itv">
		<img src="images/clients/home-office.svg" alt="The Home Office logo" class="b-experience__img b-experience__img--home-office">
		<img src="images/clients/nhs.svg" alt="NHS logo" class="b-experience__img b-experience__img--nhs">
		<img src="images/clients/luhv.png" alt="Luhv Drinks logo" class="b-experience__img b-experience__img--luhv">
	</div>

{% endblock %}
