{% extends './templates/base.njk' %}

{% from 'components/b-navigation.njk' import navigation %}

{% block content %}

	<header class="b-header">
		<div class="l-content-container">
			{{ navigation('Portfolio')}}
			<h1 class="b-header__heading e-heading e-heading--jumbo">Portfolio</h1>
			<p class="b-header__intro e-text--large">A visual collection of previous work examples. Just keep scrolling.</p>
			<p class="b-header__footnote">For a more in-depth look at my process, see <a href="/case-studies" class="b-header__link">case studies</a>.</p>
		</div>
	</header>

	<section class="l-folio-navy">
		<div class="l-folio-navy__left">
			<img srcset="images/portfolio/navy/home@2x.jpg 2x" src="images/portfolio/navy/home.jpg" class="l-folio-navy__home e-folio-img">
		</div>
		<div class="l-folio-navy__right">
			<div class="l-folio-navy__details b-folio-details">
				<span class="b-folio-details__tag e-tag u-small-caps">E-commerce</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">A new e-commerce website for a leading brand of professional beauty tools</h2>
				<p class="b-folio-details__copy e-text--large">Navy Professional needed a new website platform to enable their booming business to operate at scale.</p>
				<p class="b-folio-details__copy e-text--large">The existing design was outdated and didn’t reflect the brand that their loyal fanbase had grown to love.</p>
			</div>
			<img srcset="images/portfolio/navy/product-detail@2x.jpg 2x" src="images/portfolio/navy/product-detail.jpg" class="l-folio-navy__product e-folio-img">
		</div>
	</section>

{% endblock %}
