{% extends './templates/base.njk' %}

{% from 'components/b-contact.njk' import contact %}
{% from 'components/b-navigation.njk' import navigation %}

{% block content %}

	<header class="b-header">
		<div class="l-content-container">
			{{ navigation('Portfolio')}}
			<h1 class="b-header__heading e-heading e-heading--jumbo">Portfolio</h1>
			<p class="b-header__intro e-text--large">A visual collection of previous work examples. Just keep scrolling.</p>
			<p class="b-header__footnote">For a more in-depth look at my process, see <a href="/case-studies" class="b-header__link">case studies</a>.</p>
		</div>
	</header>

	<section class="l-folio-navy">
		<div class="l-folio-navy__left">
			<img srcset="images/portfolio/navy/home@2x.jpg 2x" src="images/portfolio/navy/home.jpg" class="l-folio-navy__home e-folio-img">
		</div>
		<div class="l-folio-navy__right">
			<div class="l-folio-navy__details b-folio-details">
				<span class="b-folio-details__tag e-tag u-small-caps">E-commerce</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">A new e-commerce website for a leading brand of professional beauty tools</h2>
				<p class="b-folio-details__copy e-text--large">Navy Professional needed a new website platform to enable their booming business to operate at scale.</p>
				<p class="b-folio-details__copy e-text--large">The existing design was outdated and didn’t reflect the brand that their loyal fanbase had grown to love.</p>
			</div>
			<img srcset="images/portfolio/navy/product-detail@2x.jpg 2x" src="images/portfolio/navy/product-detail.jpg" class="l-folio-navy__product e-folio-img">
		</div>
	</section>

	<section class="l-folio-cms">
		<div class="l-folio-cms__header">
			<div class="b-folio-details b-folio-details--dark">
				<span class="b-folio-details__tag e-tag u-small-caps">Product Design</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">0 to 1 design of a highly-configurable and scalable Case Management System</h2>
				<p class="b-folio-details__copy e-text--large">The Home Office needed a new case management platform that would provide reusable design patterns and could be easily scaled across multiple business areas to replace existing grey IT solutions.</p>
			</div>
		</div>
		<div class="l-folio-cms__dash-imgs">
			<img srcset="images/portfolio/cms/dashboard-panel@2x.png 2x" src="images/portfolio/cms/dashboard-panel.png" class="l-folio-cms__panel" loading="lazy">
			<img srcset="images/portfolio/cms/dashboard@2x.jpg 2x" src="images/portfolio/cms/dashboard.jpg" class="l-folio-cms__dashboard e-folio-img" loading="lazy">
			<img srcset="images/portfolio/cms/dashboard-listing@2x.jpg 2x" src="images/portfolio/cms/dashboard-listing.jpg" class="l-folio-cms__listing e-folio-img loading="lazy"">
		</div>
		<img srcset="images/portfolio/cms/flat-lays@2x.jpg 2x" src="images/portfolio/cms/flat-lays.jpg" class="l-folio-cms__flat-lays e-folio-fullwidth" loading="lazy">
		<div class="l-folio-cms__files-wrap">
			<img srcset="images/portfolio/cms/files@2x.jpg 2x" src="images/portfolio/cms/files.jpg" class="l-folio-cms__files e-folio-img" loading="lazy">
		</div>
		<img srcset="images/portfolio/cms/flow@2x.jpg 2x" src="images/portfolio/cms/flow.jpg" class="l-folio-cms__flow e-folio-fullwidth" loading="lazy">
	</section>

	<section class="l-folio-ddh">
		<div class="l-folio-ddh__header">
			<div class="l-folio-ddh__details b-folio-details b-folio-details--dark">
				<span class="b-folio-details__tag e-tag u-small-caps">E-commerce</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">B2B e-commerce site for a leading manufacturer of healthcare products</h2>
				<p class="b-folio-details__copy e-text--large">A series of acquisitions had left Drive Devilbiss Healthcare's previous site as a mashup of multiple, disconnected brands. They needed a new site with a considered information architecture to bring their offering under one new, improved proposition.</p>
			</div>
			<img srcset="images/portfolio/ddh/search@2x.png 2x" src="images/portfolio/ddh/search.png" class="l-folio-ddh__search" loading="lazy">
		</div>
		<img srcset="images/portfolio/ddh/flat-lays@2x.jpg 2x" src="images/portfolio/ddh/flat-lays.jpg" class="l-folio-ddh__flat-lays e-folio-fullwidth" loading="lazy">
		<img srcset="images/portfolio/ddh/mobile@2x.jpg 2x" src="images/portfolio/ddh/mobile.jpg" class="l-folio-ddh__mobile e-folio-fullwidth" loading="lazy">
	</section>

	<section class="l-folio-severfield">
		<div class="l-folio-severfield__left">
			<img srcset="images/portfolio/severfield/home@2x.jpg 2x" src="images/portfolio/severfield/home.jpg" class="l-folio-severfield__home e-folio-img" loading="lazy">
		</div>
		<div class="l-folio-severfield__right">
			<div class="l-folio-severfield__details b-folio-details b-folio-details--dark">
				<span class="b-folio-details__tag e-tag u-small-caps">B2B</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">New website following a rebrand of UK’s leading structural steel experts</h2>
				<p class="b-folio-details__copy e-text--large">Severfield needed a new website that would effectively communicate their proposition and align to their new company strategy.</p>
			</div>
			<img srcset="images/portfolio/severfield/projects@2x.jpg 2x" src="images/portfolio/severfield/projects.jpg" class="l-folio-severfield__projects e-folio-img" loading="lazy">
			<img srcset="images/portfolio/severfield/project@2x.jpg 2x" src="images/portfolio/severfield/project.jpg" class="l-folio-severfield__project e-folio-img" loading="lazy">
		</div>
	</section>

	<section class="l-folio-duffield">
		<div class="l-folio-duffield__header">
			<div class="l-folio-duffield__details b-folio-details b-folio-details--dark">
				<span class="b-folio-details__tag e-tag u-small-caps">E-commerce</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">Website redesign that achieved 5X increase in online revenue</h2>
				<p class="b-folio-details__copy e-text--large">Duffield Timber are a timber merchant with over 60 years experience. They needed a new online experience to reflect their brand promise of ‘excellence from forest to finish’.</p>
				<p class="b-folio-details__copy e-text--large">The solution was designed with the goal of maximising conversions and lead generation.</p>
			</div>
			<img srcset="images/portfolio/duffield/snap@2x.jpg 2x" src="images/portfolio/duffield/snap.jpg" class="l-folio-duffield__snap e-folio-img" loading="lazy">
		</div>
		<img srcset="images/portfolio/duffield/flat-lays@2x.jpg 2x" src="images/portfolio/duffield/flat-lays.jpg" class="l-folio-duffield__flat-lays e-folio-fullwidth" loading="lazy">
		<div class="l-folio-duffield__screens">
			<div class="l-folio-duffield__left">
				<img srcset="images/portfolio/duffield/listing@2x.jpg 2x" src="images/portfolio/duffield/listing.jpg" class="l-folio-duffield__listing e-folio-img" loading="lazy">
			</div>
			<div class="l-folio-duffield__right">
				<img srcset="images/portfolio/duffield/garages@2x.jpg 2x" src="images/portfolio/duffield/garages.jpg" class="l-folio-duffield__garages e-folio-img" loading="lazy">
				<img srcset="images/portfolio/duffield/mobile-1@2x.jpg 2x" src="images/portfolio/duffield/mobile-1.jpg" class="l-folio-duffield__mobile-1 e-folio-img" loading="lazy">
				<img srcset="images/portfolio/duffield/mobile-2@2x.jpg 2x" src="images/portfolio/duffield/mobile-2.jpg" class="l-folio-duffield__mobile-2 e-folio-img" loading="lazy">
			</div>
		</div>
		<img srcset="images/portfolio/duffield/cards@2x.jpg 2x" src="images/portfolio/duffield/cards.jpg" class="l-folio-duffield__cards e-folio-fullwidth" loading="lazy">
	</section>

	<section class="l-folio-learnid">
		<div class="l-folio-learnid__header">
			<div class="l-folio-learnid__details b-folio-details b-folio-details--dark">
				<span class="b-folio-details__tag e-tag u-small-caps">Product Design</span>
				<h2 class="b-folio-details__heading e-heading e-heading--l">MVP design for an identity verification platform</h2>
				<p class="b-folio-details__copy e-text--large">A brand new product development that needed foundational design work to set a design strategy, create and document a new design system, and develop an MVP that enabled a quick route to market.</p>
			</div>
			<img srcset="images/portfolio/learnid/result@2x.jpg 2x" src="images/portfolio/learnid/result.jpg" class="l-folio-learnid__result e-folio-img" loading="lazy">
		</div>
		<div class="l-folio-learnid__screens">
			<img srcset="images/portfolio/learnid/document@2x.jpg 2x" src="images/portfolio/learnid/document.jpg" class="l-folio-learnid__document e-folio-img" loading="lazy">
			<img srcset="images/portfolio/learnid/face@2x.jpg 2x" src="images/portfolio/learnid/face.jpg" class="l-folio-learnid__face e-folio-img" loading="lazy">
		</div>
		<img srcset="images/portfolio/learnid/flat-lay@2x.jpg 2x" src="images/portfolio/learnid/flat-lay.jpg" class="l-folio-learnid__flat-lays e-folio-fullwidth" loading="lazy">
	</section>

	{{ contact('cream') }}

{% endblock %}
