$brand: #3E3691;

$text-primary: #191825;
$text-secondary: #42404F;

$background-biscuit: #DCD9CC;
$background-cream: #F4F3F0;
$background-light-grey: #F3F2F7;

//Archive
$background-dark: #2B2938;
$background-off-white: #F0EFF5;
