$brand: #3E3691;
$brand-10: #28206F;
$brand-20: #150E4E;

$text-primary: #191825;
$text-secondary: #42404F;
$text-neutral: #0B69A3;

$background-biscuit: #DCD9CC;
$background-cream: #F4F3F0;
$background-light-grey: #F3F2F7;
$background-neutral: #E3F8FF;

$border-primary: #C5C4CF;
$border-light: #DFDEE7;
$border-neutral: #0B69A3;
