<!DOCTYPE html>
<html>
<head>
  <title>{% block pageTitle %}Andy Farmer Design Portfolio{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex,nofollow">

  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <main{% if mainClasses %} class="{{ mainClasses }}"{% endif %}>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
