@use 'tools/mixins/breakpoint';

.e-avatar{
	width: 154px;
	height: 162px;
	position: relative;
	&__image{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}
}

@include breakpoint.breakpoint(large){
	.e-avatar{
		width: 139px;
		height: 146px;
		&__image{
			transform: translate(-50%, -50%) scale(0.9);
		}
	}
}

@include breakpoint.breakpoint(medium){
	.e-avatar{
		width: 134px;
		height: 141px;
		&__image{
			transform: translate(-50%, -50%) scale(0.87);
		}
	}
}
