@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.e-button{
	display: inline-block;
	line-height: rem.rem(32);
	text-decoration: none;
	padding: 8px 24px;
	border-radius: 24px;
	background: linear-gradient(to right, #554BBE, #6359C0);
	color: #fff;
	font-weight: 600;
	&--disabled{
		opacity: 0.9;
	}
}

a.e-button{
	&:hover{
		background: colours.$brand;
	}
}

@include breakpoint.breakpoint(large){
	.e-button{
		font-size: rem.rem(16);
		padding: 4px 16px;
	}
}
