@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.e-dividing-heading{
	position: relative;
	padding-top: 64px;
	&__eyebrow{
		color: colours.$text-secondary;
		position: absolute;
		padding-top: 4px;
		top: 64px;
		left: calc(-50% + 48px);
	}
}

@media screen and (max-width: 1312px) {
	.e-dividing-heading{
		&__eyebrow{
			left: calc(-50vw + 368px);
		}
	}
}

@include breakpoint.breakpoint(large){
	.e-dividing-heading{
		padding-top: 48px;
		&__eyebrow{
			top: 48px;
			left: calc(-50vw + 352px);
		}
	}
}

@include breakpoint.breakpoint(medium){
	.e-dividing-heading{
		padding-top: 32px;
		&__eyebrow{
			position: static;
			padding-bottom: 8px;
		}
	}
}

@include breakpoint.breakpoint(small){
	.e-dividing-heading{
		padding-top: 24px;
	}
}
