@use 'tools/variables/colours';

.e-dividing-heading{
	display: flex;
	padding-top: 64px;
	&__eyebrow{
		color: colours.$text-secondary;
		padding-top: 4px;
		width: calc(25% + 8px);
	}
	&__heading{
		width: 672px;
	}
}
