@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.e-eyebrow{
	display: block;
	padding-bottom: 8px;
	color: colours.$text-secondary;
}
@include breakpoint.breakpoint('large'){
	.e-eyebrow{
		padding-bottom: 4px;
	}
}
