@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';

.e-heading{

	&--jumbo{
		font-family: "Radley", serif;
		font-weight: 400;
		font-size: rem.rem(60);
		line-height: rem.rem(64);
		letter-spacing: -0.025em;
	}

	&--l{
		font-weight: 400;
		font-size: rem.rem(44);
		line-height: rem.rem(52);
		letter-spacing: -0.01em;
	}

	&--m{
		font-weight: 400;
		font-size: rem.rem(36);
		line-height: rem.rem(40);
		letter-spacing: -0.005em;
	}

	&--s{
		font-weight: 400;
		font-size: rem.rem(24);
		line-height: rem.rem(32);
		letter-spacing: -0.005em;
	}
}

@include breakpoint.breakpoint(large){
	.e-heading{
		&--jumbo{
			font-size: rem.rem(55);
			line-height: rem.rem(60);
		}
		&--l{
			font-size: rem.rem(38);
			line-height: rem.rem(44);
		}
		&--m{
			font-size: rem.rem(32);
			line-height: rem.rem(36);
		}
		&--s{
			font-size: rem.rem(22);
			line-height: rem.rem(28);
		}
	}
}

@include breakpoint.breakpoint(medium){
	.e-heading{
		&--jumbo{
			font-size: rem.rem(48);
			line-height: rem.rem(56);
		}
	}
}

