@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';

.e-heading{
  font-weight: 600;

	&--jumbo{
		font-size: rem.rem(72);
		line-height: rem.rem(80);
		letter-spacing: -0.05em;
	}

  &--xl{
		font-size: rem.rem(48);
		line-height: rem.rem(56);
		letter-spacing: -0.04em;
	}

	&--l{
		font-size: rem.rem(36);
		line-height: rem.rem(40);
		letter-spacing: -0.04em;
	}

	&--m{
		font-size: rem.rem(24);
		line-height: rem.rem(32);
		letter-spacing: -0.02em;
	}

	&--s{
		font-size: rem.rem(20);
		line-height: rem.rem(24);
		letter-spacing: -0.02em;
	}
}

@include breakpoint.breakpoint(large){
	.e-heading{
		&--jumbo{
			font-size: rem.rem(60);
			line-height: rem.rem(72);
		}
		&--xl{
			font-size: rem.rem(36);
			line-height: rem.rem(40);
		}
		&--l{
			font-size: rem.rem(24);
			line-height: rem.rem(32);
			letter-spacing: -0.02em;
		}
	}
}
