@use 'tools/variables/colours';

.e-link{
	color: colours.$brand;
	text-underline-offset: 0.2em;
	&--blend{
		text-decoration: none;
	}
	&:hover,
	&:focus{
		color: colours.$brand-20;
		text-decoration: none;
	}
	&--external {
		&:after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			background: url('/images/icons/external.svg') center center no-repeat;
			margin-left: 8px;
		}
	}
}

.e-text--tiny .e-link--external {
	&:after{
		background-size: 20px 20px;
		margin-left: 4px;
	}
}
