@use 'tools/mixins/breakpoint';

.e-result-list{
	font-weight: 600;
	margin: 0;
	padding: 0;
	&__item{
		padding: 0 0 8px 0;
		list-style: none;
	}
	&__stat{
		width: 64px;
		display: inline-block;
	}
}

@include breakpoint.breakpoint(small){
	.e-result-list{
		&__stat{
			width: auto;
		}
	}
}
