.e-top-link{
	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 24px;
		height: 24px;
		background: url('/images/icons/up-arrow.svg') center center no-repeat;
		margin-right: 8px;
	}
}
