@use 'tools/mixins/breakpoint';
@use 'tools/functions/rem';

.e-text{
	line-height: rem.rem(32);

	&--minor{
		font-size: rem.rem(18);
		line-height: rem.rem(32);
	}

	&--tiny{
		font-size: rem.rem(14);
		line-height: rem.rem(24);
	}
}
@include breakpoint.breakpoint(large){
	.e-text{
		line-height: rem.rem(28);
		&--minor{
			line-height: rem.rem(28);
		}
	}
}

@include breakpoint.breakpoint(small){
	.e-text{
		&--minor{
			font-size: rem.rem(16);
		}
	}
}
