{% extends './templates/base.njk' %}

{% from 'components/b-case-tile.njk' import caseTile %}
{% from 'components/b-contact.njk' import contact %}
{% from 'components/b-header.njk' import header %}

{% block content %}

	{{ header({
		heading: 'Case studies',
		intro: 'An in-depth look at some previous projects.',
		active: 'Case studies'
	}) }}

	<div class="l-case-studies l-content-container">

		{{ caseTile({
			heading: 'Website redesign that sent sales souring',
			copy: 'How I delivered a complete new strategy and redesign that resulted in a huge increase in sales leads and online revenue.',
			img: 'images/case-study-tiles/duffield.jpg',
			href: '/case-studies/duffield-timber'
		}) }}

		{{ caseTile({
			heading: 'Designing for scale with a robust design system',
			copy: 'How I designed the MVP of a highly-configurable Case Management System with a focus on reusability and rapid scalability.',
			img: 'images/case-study-tiles/ipm.jpg',
			href: '/case-studies/cms',
			dark: true,
			reversed: true,
			disabled: true
		}) }}

	</div>

	{% include "components/b-footer.njk" %}

{% endblock %}
