{% extends './templates/base.njk' %}

{# {% from 'components/b-case-tile.njk' import caseTile %} #}

{% block content %}

	<header class="b-home-header">
		<div class="l-content-container">
			<div class="e-avatar">
				<img src="images/avatar-frame.svg" class="e-avatar__frame" role="presentation">
				<img srcset="images/avatar@2x.jpg 2x" src="images/avatar.jpg" class="e-avatar__image" role="presentation">
			</div>
			<h1 class="b-home-header__heading e-heading e-heading--jumbo">An experienced product designer who blends <em class="e-heading__emphasis">creative</em>, <em class="e-heading__emphasis">strategic</em>, and <em class="e-heading__emphasis">technical</em> expertise to solve complex problems.</h1>
		</div>
		<img src="images/arrow.svg" class="b-home-header__arrow" role="presentation">
	</header>

{% endblock %}
