@use 'tools/mixins/breakpoint';

.l-case-studies {
	.b-case-tile {
		margin: 56px 0;
		&__details{
			padding: 64px 40px;
		}
	}
}

@include breakpoint.breakpoint(medium){
	.l-case-studies {
		.b-case-tile{
			&__details{
				padding: 32px;
			}
		}
	}
}
