.l-content-container {
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left: 24px;
		right: 24px;
	}
	max-width: 1296px;

	&--10-col {
		max-width: 1060px;
	}

	&--4-col {
		max-width: 448px;
	}
}
