@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.l-case-studies{
	background: colours.$background-light-grey;
	padding: 104px 0 80px;
	&__header{
		padding-bottom: 48px;
	}
}

@include breakpoint.breakpoint(large){
	.l-case-studies{
		padding: 80px 0 64px;
		&__header{
			padding-bottom: 40px;
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-case-studies{
		padding: 56px 0 40px;
		&__header{
			width: calc(80% + 16px);
			padding-bottom: 32px;
		}
	}
}
