@use 'tools/mixins/breakpoint';

.l-content-container {
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left: 32px;
		right: 32px;
	}
	max-width: 1312px;

	&--10-col {
		max-width: 1060px;
	}

	&--8-col {
		max-width: 888px;
	}

	&--6-col {
		max-width: 672px;
	}

	&--4-col {
		max-width: 448px;
	}
}

@include breakpoint.breakpoint(large){
	.l-content-container{
		&--6-col{
			max-width: 640px;
		}
	}
}

@include breakpoint.breakpoint(small){
	.l-content-container{
		padding: {
			left: 16px;
			right: 16px;
		}
	}
}
