@use 'tools/mixins/breakpoint';

.l-content-container {
	margin: {
		left: auto;
		right: auto;
	}
	padding: {
		left: 32px;
		right: 32px;
	}
	max-width: 1296px;

	&--10-col {
		max-width: 1060px;
	}

	&--4-col {
		max-width: 448px;
	}
}

@include breakpoint.breakpoint(medium){
	.l-content-container{
		max-width: 840px;

		&--4-col {
			max-width: 440px;
		}
	}
}

@include breakpoint.breakpoint(small){
	.l-content-container{
		padding: {
			left: 16px;
			right: 16px;
		}
	}
}
