@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.l-folio-cms{
	background: colours.$background-off-white;
	&__header{
		background: colours.$background-dark;
		padding: {
			left: calc(50vw - 616px);
			top: 56px;
			bottom: 256px;
		}
	}
	&__dash-imgs{
		max-width: 1328px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: {
			left: auto;
			right: auto;
			top: -168px;
			bottom: -216px;
		}
	}
	&__panel{
		position: absolute;
		right: 120px;
		top: -280px;
	}
	&__listing{
		margin: {
			top: 40px;
			right: 32px;
		}
		align-self: flex-end;
	}
	&__files-wrap{
		margin: {
			top: -88px;
			bottom: -144px;
		}
		padding-left: calc(50vw - 648px);
	}
	&__files{
		position: relative;
	}
}

@media (max-width: 1360px){
	.l-folio-cms{
		&__files-wrap,
		&__header{
			padding-left: 32px;
		}
		&__dashboard{
			margin-left: 48px;
		}
		&__panel{
			right: 96px;
			top: -288px;
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-folio-cms{
		&__header{
			padding: {
				left: 64px;
				top: 48px;
				bottom: 200px;
			}
		}
		&__dash-imgs{
			margin: {
				top: -144px;
				bottom: -10vw;
			}
		}
		&__panel{
			width: 30vw;
			right: 7vw;
		}
		&__dashboard,
		&__listing,
		&__files{
			width: 80%;
		}
		&__files-wrap{
			margin: {
				top: -4vw;
				bottom: -8vw;
			}
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-folio-cms{
		.b-folio-details{
			max-width: 55%;
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-folio-cms{
		&__header{
			padding: 24px 16px 120px;
		}
		&__panel{
			display: none;
		}
		&__dash-imgs{
			margin: {
				top: -104px;
				bottom: 0;
			}
			padding-bottom: 16px;
		}
		&__dash-imgs,
		&__files-wrap{
			padding: {
				left: 16px;
				right: 16px;
			}
		}
		&__dashboard{
			margin-left: 0;
			width: 100%;
		}
		&__listing{
			width: 100%;
			margin: {
				top: 24px;
				right: 0;
			}
		}
		&__files{
			width: 100%;
		}
		&__files-wrap{
			margin: {
				bottom: 24px;
				top: 0;
			}
			padding-top: 16px;
		}
		.b-folio-details{
			max-width: none;
		}
	}
}
