@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.l-folio-learnid{
	&__header{
		background: colours.$background-dark;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: {
			left: calc(50vw - 616px);
			top: 56px;
			bottom: 80px;
			right: 32px;
		}
	}
	&__result{
		position: absolute;
		right: calc(50vw - 464px);
		top: 56px;
		border-radius: 8px;
	}
	&__screens{
		margin: {
			left: auto;
			right: auto;
		}
		padding: 24px 32px 56px;
		max-width: 1296px;
		display: flex;
	}
	&__face{
		border-radius: 8px;
	}
	&__document{
		margin-right: 64px;
		border-radius: 8px;
	}
}

@media (max-width: 1296px){
	.l-folio-learnid{
		&__header{
			padding-left: 32px;
		}
		&__result{
			width: 30vw;
			right: 8vw;
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-folio-learnid{
		&__face,
		&__document{
			width: 23vw;
			margin-right: 5vw;
		}
	}
}

@include breakpoint.breakpoint(type-break-2){
	.l-folio-learnid{
		&__details{
			width: 55%;
		}
	}
}

@include breakpoint.breakpoint(small){
	.l-folio-learnid{
		&__header{
			padding: 32px 16px 40px;
			display: block;
		}
		&__details{
			width: 100%;
			max-width: none;
		}
		&__result{
			position: static;
			width: 80%;
			display: block;
			margin: 16px auto 0;
		}
		&__screens{
			padding: 24px 16px 32px;
			display: flex;
			justify-content: center;
		}
		&__face,
		&__document{
			width: 40vw;
			margin: 0 3vw;
		}
	}
}
