@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.l-folio-ddh{
	&__header{
		background: colours.$background-dark;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: {
			left: calc(50vw - 616px);
			top: 56px;
			bottom: 80px;
		}
	}
	&__search{
		position: absolute;
		right: calc(50vw - 616px);
		top: 160px;
	}
}

@media (max-width: 1280px){
	.l-folio-ddh{
		&__header{
			padding-left: 32px;
		}
		&__search{
			right: 32px;
			top: 17vw;
			width: calc(50% - 40px);
		}
		&__details{
			width: calc(50% - 40px);
		}
	}
}

@include breakpoint.breakpoint(type-break-2){
	.l-folio-ddh{
		&__header{
			flex-direction: column;
			align-items: center;
			padding-bottom: 0;
		}
		&__search{
			position: static;
			margin-top: 24px;
			margin-bottom: -56px;
			width: 70%;
		}
		&__details{
			width: 60%;
		}
	}
}

@include breakpoint.breakpoint(small){
	.l-folio-ddh{
		&__header{
			padding: {
				left: 16px;
				right: 16px;
				top: 24px;
			}
		}
		&__details{
			width: 100%;
			max-width: none;
		}
		&__search{
			width: 95%;
			margin-top: 8px;
			margin-bottom: -32px;
		}
	}
}
