@use 'tools/mixins/breakpoint';

.l-fifty{
	display: flex;
	&__item{
		width: 50%;
		padding-right: 8.33%;
		&:last-child{
			padding-left: 16px;
			padding-right: 7%;
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-fifty{
		&__item{
			&:last-child{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
