@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.l-folio-navy{
	display: flex;
	justify-content: center;
	padding: 32px 32px 72px 32px;
	background: linear-gradient(180deg, colours.$background-off-white 0%, colours.$background-off-white 45%, #fff 45%, #fff 80%, colours.$background-off-white 80%, colours.$background-off-white 100%);
	&__home{
		margin-right: 40px;
		position: relative;
		right: 24px;
	}
	&__right{
		padding-left: 24px;
	}
	&__details{
		padding: {
			top: 128px;
			bottom: 176px;
		}
	}
}

@include breakpoint.breakpoint(large){
	.l-folio-navy{
		&__details{
			padding: {
				top: 96px;
				bottom: 120px;
			}
		}
		&__home{
			right: 0;
		}
	}
}

@include breakpoint.breakpoint(type-break-2){
	.l-folio-navy{
		&__details{
			padding: {
				top: 72px;
				bottom: 96px;
			}
		}
	}
}

@include breakpoint.breakpoint(small){
	.l-folio-navy{
		flex-direction: column;
		align-items: center;
		padding: 24px 16px 32px;
		&__right{
			order: 1;
			padding-left: 0;
			padding-bottom: 24px;
			width: 100%;
		}
		&__left{
			order: 2;
			width: 100%;
		}
		&__home{
			margin-right: 0;
		}
		&__details{
			max-width: none;
			padding: {
				top: 24px;
				bottom: 32px;
			}
		}
		.e-folio-img{
			width: 100%;
		}
	}
}
