{% extends './templates/base.njk' %}

{% block pageTitle %}Case Ownership - Case Management System| Andy Farmer Design Portfolio{% endblock %}

{% from 'components/e-dividing-heading.njk' import dividingHeading %}
{% from 'components/e-lead-image.njk' import leadImage %}
{% from 'components/b-breadcrumb.njk' import breadcrumb %}
{% from 'components/b-case-overview.njk' import caseOverview %}
{% from 'components/b-case-study-tile.njk' import caseStudyTile %}
{% from 'components/b-contact.njk' import contact %}
{% from 'components/b-figure.njk' import figure %}
{% from 'components/b-footer.njk' import footer %}

{% block content %}

	{{leadImage({
		colour: 'blue',
		image: {
			url: '/images/case-studies/cms/listing-ownership-banner',
			type: 'jpg',
			alt: '2 desktop screenshots showing views from a Case Management System'
		}
	})}}

	<div class="l-content-container l-content-container--6-col u-space-top-24">
		{{breadcrumb([
			{
				text: 'Home',
				url: '/'
			},
			{
				text: 'Case studies',
				url: '/case-studies'
			},
			{
				text: 'CMS - Case ownership'
			}
		])}}
	</div>

	<div class="p-case-study">

		<div class="l-content-container l-content-container--6-col">
			<h1 class="e-heading--l">Rethinking requirements to remove complexity and friction from the user experience</h1>
		</div>

		{{caseOverview([
			{
				label: 'Summary',
				value: 'Through critical thinking, I foresaw problems with the original requirements for locking cases and designed a different solution that reduced complexity whilst still solving the problem.',
				fullwidth: true
			},
			{
				label: 'Product',
				value: 'Case Management System'
			},
			{
				label: 'My role',
				value: 'Lead Designer'
			},
			{
				label: 'Year',
				value: '2024'
			}
		])}}

		<div class="l-content-container l-content-container--6-col u-space-top-24">
			<p class="e-text--minor">Note: this case study covers 1 feature of a 20-month programme. For more background and context on the project, see the <a href="/case-studies/cms-overview" class="e-link">project overview.</a></p>
		</div>

		{{dividingHeading({
			eyebrow: 'Problem definition',
			heading: 'Handling case ownership to prevent users from working the same cases'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>One of the problems we needed to solve as we digitalised the team's process was case ownership. Currently, when an officer was working a case, the physical paper file would be on their desk and therefore nobody else could work on it. In the new, browser-based system, it would be possible for users to work a case at the same time.</p>
			<p>We needed a way to prevent users inadvertently double-handling cases.</p>
		</div>

		{{figure({
			classes: 'l-content-container--8-col',
			image:{
				url: '/images/case-studies/cms/paper-files',
				type: 'jpg',
				alt: 'A stack of paper files sits on a desk in an office setting. An office worker writes a post-it note on the top file.'
			},
			caption: 'Paper files inherently avoided issues with multiple users working cases.'
		})}}

		{{dividingHeading({
			eyebrow: 'Requirements',
			heading: 'The original requirements: locking cases'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>The original requirements suggested a need to 'lock' cases so that only the currently-assigned user had edit permissions. This would prevent users mistakenly working on the same cases.</p>
			<p>The task assigned to me was to design the UI and process around locking and unlocking cases.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Critical thinking',
			heading: 'Working through the problem'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>I was hesitant about the concept of locking cases to single users as it felt heavy-handed and seemed likely to introduce friction to the user experience.</p>
			<p>One of the key goals of the product was to increase team efficiency and I could see scenarios where locking cases could create a roadblock.</p>
			<p>I started thinking through the problem and drafted some questions:</p>
			<ul>
				<li>Are there other reasons that cases need to be locked to single users? e.g. Security or privacy considerations</li>
				<li>Are there scenarios where multiple users would work together on the same case?</li>
				<li>Are there scenarios where multiple users would need to perform separate tasks on the same case?</li>
				<li>Are there scenarios where users would need to pause a task halfway through?</li>
				<li>What is the current procedure if a user is unable to complete a task? e.g. Going home sick.</li>
				<li>Who should have permissions to unlock cases?</li>
				<li>Should users without permissions be able to send 'unlock requests'?</li>
			</ul>
		</div>

		{{dividingHeading({
			eyebrow: 'Research',
			heading: 'Getting answers to my questions'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>I brought my questions to the project team first. I shared my concerns about the 'locking' solution and asked our Business Analysts and User Researcher whether they had any insights. We decided to bring the questions to the Product Owners at the next weekly checkpoint.</p>
			<p>As we worked through the questions with the Product Owners we gained better clarity and understanding of their current processes and the underlying requirements for this feature:</p>
			<ul>
				<li>All staff held the same level of security clearance so there were no security or privacy reasons to lock cases.</li>
				<li>They were keen to promote trust and openness within the team.</li>
				<li>If cases were locked, Duty Managers would be the only users who should be able to unlock them. However, Duty Managers were stretched thin and the Product Owners were keen to avoid additional admin where possible.</li>
				<li>Although they try to avoid it, there are a number of reasons that a Duty Manager would need a caseworker to change task onto something urgent.</li>
				<li>If a member of staff goes home sick, their active cases are passed to another caseworker to complete.</li>
				<li>There were a number of scenarios were a caseworker would need to edit a case being worked on by someone else.</li>
			</ul>
		</div>

		{{dividingHeading({
			eyebrow: 'Hypothesis',
			heading: "If the UI was clear, users wouldn't work the same cases"
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>Following the additional insight gained from the Product Owners, I thought the requirements could be met without introducing the complexity of locking and unlocking cases.</p>
			<p>My hypothesis was that if the UI made it clear that a case was actively being worked on by another caseworker, then users would only try to edit that case for legitimate reasons.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Design',
			heading: "Making a clear distinction between available and unavailable cases"
		})}}

		{{figure({
			image:{
				url: '/images/case-studies/cms/listing-ownership',
				type: 'jpg',
				alt: 'Screenshot of a Case Management System showing a Case Listing screen'
			},
			caption: 'The list view clearly communicates which cases are available to work on.'
		})}}

		<div class="l-content-container l-content-container--6-col">
			<p>I proposed a number of solutions that could combine to solve to the problem:</p>
			<ul>
				<li>Adding an 'Assigned to' field to the case.</li>
				<li>Adding a new status to the workflow for 'In progress'. This would then enable filtering on the dashboards.</li>
				<li>A clear action button that would enable users to assign themselves to a case.</li>
				<li>The absence of the button on some cases would hint that the case was not available to be worked on.</li>
				<li>Introducing user avatars that would display when a user was currently viewing a case.</li>
			</ul>
			<p>I knew that web sockets were being introduced for a different purpose elsewhere in the product so the same technology could be reused for the 'Currently viewing' feature.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Evaluation',
			heading: "Testing the designs with users"
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>We needed to understand how users would respond to what they saw on screen so I decided there was no need to build a highly-interactive prototype for this test.</p>
			<p>I developed a lightweight Figma prototype that enabled us to test the designs and gather critical user feedback before development. We gained some key insights from the initial tests:</p>
			{% set feedback = [
				{
					icon: 'check-circle',
					text: 'Users were able to easily distinguish between available and unavailable cases with a 100% success rate on assigning the correct case to themselves.'
				},
				{
					icon: 'check-circle',
					text: 'Users felt assured that a case was assigned to them and other users would not try to work on it.'
				},
				{
					icon: 'check-circle',
					text: 'The ‘Pick up’ button was working really well, despite having a slightly abstract label, all users were able to successfully predict its behaviour.'
				},
				{
					icon: 'cross-cancel',
					text: 'Users were unable to interpret the avatars and what they represented. Very few discovered the on-hover tooltip.'
				}
			] %}
			<ul class="e-icon-list">
				{% for item in feedback %}
					<li class="e-icon-list__item">
						<img src="/images/icons/{{item.icon}}.svg" class="e-icon-list__icon">
						<span class="e-icon-list__text">{{item.text}}</span>
					</li>
				{% endfor %}
			</ul>
		</div>

		{{dividingHeading({
			eyebrow: 'Iteration',
			heading: "Refining the design following feedback"
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>I made one small revision to the design following the user testing. The avatar feature was removed as feedback had shown that the other solutions were more than sufficient to solve the problem. Web sockets had also been descoped from the other feature so all-in-all it made sense to remove it.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Impact',
			heading: "Critical thinking led to a simpler design"
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>By applying some critical thinking and going back to work through the requirements with the Product Owners, I was able to design a solution that was simple and effective.</p>
			<p>My solution:</p>
			<ul>
				<li>Saved development time</li>
				<li>Fit with existing patterns</li>
				<li>Removed complexity</li>
				<li>Removed friction</li>
				<li>Removed unnecessary admin from Duty Managers</li>
				<li>Provided more flexibility</li>
				<li>Solved the problem</li>
			</ul>
		</div>

	</div>

	{% set stories = [
		{
			heading: 'Boosting team efficiency with workload dashboards',
			copy: 'How I enabled caseworkers to manage their workload and provided management with actionable insights to inform resource decisions.',
			link: '/case-studies/cms-dashboards'
		},
		{
			heading: 'Using automation to remove unnecessary manual input',
			copy: 'How good design thinking led to the creation of one of the product’s most successful and most-loved features.',
			link: '/case-studies/cms-timeline'
		}
	] %}
	<div id="case-studies" class="l-content-container u-space-top-56">
		<h5 class="u-small-caps e-eyebrow">More from this project</h5>
		<ul class="b-case-stories">
			{% for story in stories %}
				<li class="b-case-stories__item">
					<h5 class="b-case-stories__heading e-heading--s">{{story.heading}}</h5>
					<p class="b-case-stories__copy e-text e-text--minor">{{story.copy}}</p>
					<div class="b-case-stories__button-wrap">
						<a href="{{story.link}}" class="e-button">View case study</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="l-content-container u-space-top-56">
		<h5 class="u-small-caps e-eyebrow">Other projects</h5>
		{{caseStudyTile({
			heading: 'Building a design system from scratch',
			copy: 'How I created an entire design system that enabled consistency, efficiency and collaboration across the whole product team.',
			link: {
				href: '/case-studies/design-system',
				text: 'View case study',
				button: true
			},
			image: {
				path: '/images/learnid-tile',
				alt: 'Flat lay images of design system components including colour swatches and typography styles'
			}
		})}}

		{{caseStudyTile({
			heading: 'Increasing conversion rate for new policy sign-ups',
			copy: 'How I tackled a customer acquisition problem with a redesigned journey that reduced time on task and maximised conversions.',
			link: {
				href: '/case-studies/4paws',
				text: 'View case study',
				button: true
			},
			image: {
				path: '/images/4paws-tile',
				alt: 'UI examples of a pet insurance user flow'
			}
		})}}
	</div>

	<div class="u-space-top-56">
		{{contact()}}
	</div>

	{{footer()}}

{% endblock %}
