{% extends './templates/base.njk' %}

{% block pageTitle %}Case Management System - Project Overview | Andy Farmer Design Portfolio{% endblock %}

{% from 'components/e-dividing-heading.njk' import dividingHeading %}
{% from 'components/e-lead-image.njk' import leadImage %}
{% from 'components/e-pullquote.njk' import pullQuote %}
{% from 'components/b-breadcrumb.njk' import breadcrumb %}
{% from 'components/b-case-overview.njk' import caseOverview %}
{% from 'components/b-case-study-tile.njk' import caseStudyTile %}
{% from 'components/b-contact.njk' import contact %}
{% from 'components/b-figure.njk' import figure %}
{% from 'components/b-footer.njk' import footer %}

{% block content %}

	{{leadImage({
		colour: 'blue',
		image: {
			url: '/images/case-studies/cms/cms-desktop',
			type: 'jpg',
			alt: '3 desktop screenshots from a Case Management System'
		}
	})}}

	<div class="l-content-container l-content-container--6-col u-space-top-24">
		{{breadcrumb([
			{
				text: 'Home',
				url: '/'
			},
			{
				text: 'Case studies',
				url: '/case-studies'
			},
			{
				text: 'CMS - Project overview'
			}
		])}}
	</div>

	{# <div class="l-content-container l-content-container--8-col u-space-top-32">
		<div class="b-alert b-alert--info">
			<img src="/images/icons/info.svg" class="b-alert__icon">
			<p class="b-alert__text e-text--minor">This page provides a high-level overview and some background context for the project. <a href="#case-studies" class="e-link e-link--blend b-alert__link">Jump to project case studies.</a></p>
		</div>
	</div> #}

	<div class="p-case-study">
		<div class="l-content-container l-content-container--6-col">
			<h1 class="e-heading--l">0 to 1 design of large, complex internal system</h1>
		</div>

		{{caseOverview([
			{
				label: 'Summary',
				value: '0 to 1 design of a complex Case Management System that would provide reusable capabilities and could be easily scaled across multiple business areas within the UK Central Government.',
				fullwidth: true
			},
			{
				label: 'My role',
				value: 'Lead Designer'
			},
			{
				label: 'Years',
				value: '2023 - 2024'
			},
			{
				label: 'Team',
				value: '15 - 30 team members<br>30+ key business stakeholders'
			},
			{
				label: 'Timeline',
				value: '20 months'
			},
			{
				label: 'Delivery highlights',
				value: '4 MVP roadmaps<br>18 core capabilities<br>22 workflows<br>100+ user research/testing sessions',
				fullwidth: true
			}
		])}}

		<div class="l-content-container l-content-container--6-col u-space-top-24">
			<p class="e-text--minor">Note: this page provides a high-level overview and some background context for the project. For more in-depth information <a href="#case-studies" class="e-link">jump to project case studies.</a></p>
		</div>

		{{dividingHeading({
			eyebrow: 'Problem definition',
			heading: 'Different departments, same challenges'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>Multiple departments within the organisation were facing similar challenges:</p>
			<ul>
				<li>Operational processes were a combination of paper files and legacy IT systems including Access databases and spreadsheets</li>
				<li>These systems were unreliable and unsupported</li>
				<li>Data was siloed and often inaccessible for trend analysis or reporting purposes</li>
				<li>Ways of working included unnecessary manual effort such as needing to double-key information. This caused inefficiencies and was prone to human error.</li>
			</ul>
			<p>They shared similar pain points, but each department was a seperate area of the organisation and they each dealt with different types of cases.</p>
			<p>There was no interaction between the departments and cases were not passed between them.</p>
		</div>

		{{figure({
			image:{
				url: '/images/case-studies/cms/department-cases',
				type: 'jpg',
				alt: 'A diagram showing Blue Department with 2 case types, Red department with 3 case types and Green department with 1 case type'
			},
			caption: 'The division of case types between departments'
		})}}

		{{dividingHeading({
			eyebrow: 'The vision',
			heading: 'To develop generic, crosscutting capabilities that could be configured to specific use cases'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>The product vision was to develop a core set of case management capabilities that could be easily customised through low-code configuration to enable quick and easy onboarding of multiple business areas.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Challenges',
			heading: 'Key challenges that influenced the project'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<h4 class="e-heading--s">How to create generic, flexible patterns that were also robust and fit for purpose</h4>
			<p>Each pattern needed to be generic and flexible for use across multiple contexts and use cases. At the same time, they needed to be fit for purpose; they needed to be well-designed, well-tested and meet the individual needs of each user group.</p>
			<h4 class="e-heading--s">Cutting code from sprint 1</h4>
			<p>To meet the timescales of the programme, we needed to start coding early. After completing sprint 0, the engineers got to work writing code. This didn’t give us long in the design team to get ahead and create designs ready for production.</p>
			<p>This was a challenge throughout the project as we ran all activities across discovery, design, development and testing in parallel. It required continuous communication and coordination between all disciplines to keep the programme on schedule.</p>
		</div>

		{{figure({
			classes: 'l-content-container--8-col',
			image:{
				url: '/images/case-studies/cms/paper-files-shelving',
				type: 'jpg',
				alt: 'A stack of paper files on an office desk, a woman writes a sticky note on the top file.'
			},
			caption: 'All departments used physical case files'
		})}}

		<div class="l-content-container l-content-container--6-col">
			<h4 class="e-heading--s">Digitalising paper-based processes</h4>
			<p>All departments had physical case files and their current processes involved written annotations, sticky notes, in trays, comparing multiple images and other paper-based activities that needed transformation into digital solutions.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Accelerators',
			heading: 'What we had going for us'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<h4 class="e-heading--s">Engaged business stakeholders</h4>
			<p>Throughout the project we had highly-engaged Product Owners and other business stakeholders. We had direct access to key decision makers and developed excellent working relationships with them through frequent collaboration.</p>
		</div>

		<div class="l-content-container l-content-container--8-col">
			{{pullQuote({
				textHTML: "<p>&ldquo;There was such a sense of shared understanding and a shared commitment to delivering something that really will transform how we work. I can't stress how important that has been to how well I think this product has been designed and delivered for us.&rdquo;</p>",
				cite: 'Gemma, Head of [Blue Department]'
			})}}
		</div>

		<div class="l-content-container l-content-container--6-col">
			<h4 class="e-heading--s">Engaged users</h4>
			<p>We also had highly-engaged users. They were invested in the success of the product as they would be using it every day for their job. This enabled us to test and iterate our designs regularly.</p>
		</div>

		{# <div class="l-content-container l-content-container--8-col">
			{{pullQuote({
				textHTML: "<p>&ldquo;My team have been so involved in the design and development. We can really see how it's going to simplify so much of what we do and allow us to focus on the tasks that staff actually get more value from delivering.&rdquo;</p>",
				cite: 'Gemma, Head of [Blue Department]'
			})}}
		</div> #}

		{{dividingHeading({
			eyebrow: 'Project approach',
			heading: 'One continuous ‘core’ roadmap, three staggered department roadmaps'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<p>One of the first big decisions we faced as a team was how to ensure we continuously delivered against multiple department roadmaps.</p>
		</div>

		{{figure({
			image:{
				url: '/images/case-studies/cms/delivery-plan',
				type: 'jpg',
				alt: 'A gannt chart showing one line of continuous development of core platform, with staggered starts between Blue, Red and Green Departments'
			},
			caption: 'Staggered department onboarding'
		})}}

		<div class="l-content-container l-content-container--6-col">
			<p>We decided to stagger the onboarding of the departments and began by delivering the MVP capabilities for [Blue Department]. This enabled us to be more agile, narrowed the requirements, and allowed us to focus on delivering an MVP in full.</p>
			<p>This meant that I was never working with a full set of requirements as I designed each feature. I knew what [Blue Department] needed, but I didn’t fully understand the needs of the [Red] or [Green Department] until later in the project.</p>
		</div>

		{{dividingHeading({
			eyebrow: 'Strategy',
			heading: 'Key design principles that guided the project'
		})}}
		<div class="l-content-container l-content-container--6-col">
			<h4 class="e-heading--s">Design the system, design the patterns</h4>
			<p>To achieve the combination of flexibility and robustness, I designed the UI as a system. The UI was broken down into the smallest components and those components combined to create patterns.</p>
			<p>Each specific design problem needed to be abstracted to answer the question “What’s the best design solution for problems like this?” This would lead to the design of the reusable pattern.</p>

			<h4 class="e-heading--s">Test our riskiest assumptions</h4>
			<p>I was working at pace and producing a lot of designs. As each design approached test-readiness, the User Researcher and I would discuss assumptions and how big a risk those assumptions presented. We then made sure that the riskiest assumptions were tested in the next research round.</p>

			<h4 class="e-heading--s">Continuously iterate and embrace change</h4>
			<p>Our project approach meant there was always a potential need for change. This was a risk we collectively agreed to tolerate and plan fo and there was an understanding between the team that as we continued discovery and learned new information this could mean changing design decisions. If we needed to throw out designs, or rewrite code, that was embraced as part of the process.</p>
		</div>
	</div>

	{% set stories = [
		{
			heading: 'Boosting team efficiency with workload dashboards',
			copy: 'How I enabled caseworkers to manage their workload and provided management with actionable insights to inform resource decisions.',
			link: '/case-studies/cms-dashboards'
		},
		{
			heading: 'Using automation to remove unnecessary manual input',
			copy: 'How good design thinking led to the creation of one of the product’s most successful and most-loved features.',
			link: '#'
		},
		{
			heading: '“What if we approached this a different way?”',
			copy: 'How my rethinking of the requirements reduced complexity and removed friction from the user experience.',
			link: '/case-studies/cms-ownership'
		}
	] %}
	<div id="case-studies" class="l-content-container u-space-top-56">
		<h5 class="u-small-caps e-eyebrow">Project case studies</h5>
		<ul class="b-case-stories">
			{% for story in stories %}
				<li class="b-case-stories__item">
					<h5 class="b-case-stories__heading e-heading--s">{{story.heading}}</h5>
					<p class="b-case-stories__copy e-text e-text--minor">{{story.copy}}</p>
					<div class="b-case-stories__button-wrap">
						<a href="{{story.link}}" class="e-button">View case study</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="l-content-container u-space-top-56">
		<h5 class="u-small-caps e-eyebrow">Other projects</h5>
		{{caseStudyTile({
			heading: 'Increasing conversion rate for new policy sign-ups',
			copy: 'How I tackled a customer acquisition problem with a redesigned journey that reduced time on task and maximised conversions.',
			link: {
				href: '/case-studies/4paws',
				text: 'View case study',
				button: true
			},
			image: {
				path: '/images/4paws-tile',
				alt: 'UI examples of a pet insurance user flow'
			}
		})}}
	</div>

	<div class="u-space-top-56">
		{{contact()}}
	</div>

	{{footer()}}

{% endblock %}
