{% extends './templates/base.njk' %}

{% from 'components/b-contact.njk' import contact %}
{% from 'components/b-navigation.njk' import navigation %}

{% block content %}
	<header class="b-case-header">
		<div class="l-content-container">
			{{ navigation('Case studies')}}
		</div>
	</header>

	<div class="l-content-container l-content-container--8-col">
		<div class="b-case-intro">
			<h1 class="b-case-intro__heading e-heading e-heading--xl">Website redesign that achieved 5X growth in online revenue</h1>
			<div class="b-case-intro__body">
				<div class="b-case-intro__overview">
					<h2 class="b-case-intro__header">Context</h2>
					<p class="b-case-intro__copy e-text--large">Duffield Timber are a timber merchant with over 60 years experience. Their existing website was not maximising the opportunity from traffic created by marketing efforts. They needed a new online experience that was designed with the primary goal of maximising conversions and lead generation.</p>

					<h2 class="b-case-intro__header">Results</h2>
					<ul class="b-case-intro__results e-result-list e-text--large">
						<li class="e-result-list__item">
							<span class="e-result-list__stat">4X </span>
							<span class="e-result-list__detail">increase in leads from online enquiries</span>
						</li>
						<li class="e-result-list__item">
							<span class="e-result-list__stat">5X </span>
							<span class="e-result-list__detail">increase in online revenue</span>
						</li>
						<li class="e-result-list__item">
							<span class="e-result-list__stat">85% </span>
							<span class="e-result-list__detail">conversion of online leads</span>
						</li>
					</ul>
				</div>
				<dl class="b-case-intro__details e-detail-list">
					<div class="e-detail-list__item">
						<dt class="e-detail-list__label">Client</dt>
						<dd class="e-detail-list__value">Duffield Timber</dd>
					</div>

					<div class="e-detail-list__item">
						<dt class="e-detail-list__label">My role</dt>
						<dd class="e-detail-list__value">Designer</dd>
					</div>

					<div class="e-detail-list__item">
						<dt class="e-detail-list__label">Tools</dt>
						<dd class="e-detail-list__value">Adobe XD<br>Craft CMS</dd>
					</div>

					<div class="e-detail-list__item">
						<dt class="e-detail-list__label">Timeline</dt>
						<dd class="e-detail-list__value">2020</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>

	<div class="l-content-container e-portfolio-grid">
		<img src="/images/case-studies/duffield/decking-tall.jpg" alt="Preview of Drive Devilbiss website design" class="e-portfolio-grid__img-1">
		<img src="/images/case-studies/duffield/decking-detail.jpg" alt="Preview of Navy Professional website design" class="e-portfolio-grid__img-2">
		<img src="/images/portfolio-grid-tiles/duffield.jpg" alt="Preview of Duffield Timber website design" class="e-portfolio-grid__img-3">
		<img src="/images/case-studies/duffield/flooring-detail.jpg" alt="Preview of Queen Marget's website user personas" class="e-portfolio-grid__img-4">
		<img src="/images/case-studies/duffield/cards.jpg" alt="Preview of LearnID Mobile App design" class="e-portfolio-grid__img-5">
		<img src="/images/case-studies/duffield/garages.jpg" alt="Preview of Severfield website designn" class="e-portfolio-grid__img-6">
	</div>

	<div class="b-article l-content-container l-content-container--8-col u-space-top-24">
		<h2 class="e-heading e-heading--l">Discovery workshops</h2>
		<p class="e-text--large">I began the project by leading a series of collaborative sessions with the client team. Through these sessions I was able to understand the brand, the goals of the business and the different customer profiles.</p>

		<h3 class="e-heading e-heading--m">Insight: different sales approaches for each product category</h3>
		<p class="e-text--large">Buying decking is not the same as buying an 8-metre solid oak beam, which is different again to buying engineered wood flooring for your hallway.</p>
		<p class="e-text--large">A key insight from the discovery was that the buying journey for different product categories was significantly different. By speaking to the sales and customer service teams, I was able to understand the different approaches they take when selling each product type.</p>

		<h2 class="e-heading e-heading--l">Setting the strategy</h2>
		<h3 class="e-heading e-heading--m">Problem: rigid templates</h3>
		<p class="e-text--large">The existing website had a standard e-commerce setup where all product categories shared the same listing and detail template. These templates were very rigid and the approach didn’t account for the vastly different types of product that Duffield Timber offer.</p>

		<h3 class="e-heading e-heading--m">Strategy: design custom product journeys</h3>
		<p class="e-text--large">The design strategy was to create a scalable and flexible system that allowed for custom templates and user journeys by product type. Each template shared the same design language to provide a cohesive experience, but the type of information and level of detail displayed was changed to suit each product type.</p>

		<h2 class="e-heading e-heading--l">Executing the design</h2>
		<h3 class="e-heading e-heading--m">Execution: a clean, scalable and flexible design</h3>
		<p class="e-text--large">Following the core concepts of simplicity and flexibility, the design was kept stripped-back and highly-functional to ensure information was displayed clearly and without distraction. This placed focus on the products and guiding the user through the buying journey with the right information at the right time.</p>

	</div>

	<img srcset="/images/portfolio/duffield/flat-lays@2x.jpg 2x" src="/images/portfolio/duffield/flat-lays.jpg" class="e-folio-fullwidth u-space-top-24" loading="lazy">
	<img srcset="/images/portfolio/duffield/cards@2x.jpg 2x" src="/images/portfolio/duffield/cards.jpg" class="e-folio-fullwidth" loading="lazy">

	<div class="b-article l-content-container l-content-container--8-col">
		<h3 class="e-heading e-heading--m">Developer handoff: detailed specifications</h3>
		<p class="e-text--large">Alongside a detailed functional specification, each component in the design system was well-documented with details of all variants, hover state, interactions and responsive design implementation; ready to handoff to the developers.</p>
	</div>

	<div class="l-content-container">
		<img srcset="/images/case-studies/duffield/responsive@2x.jpg 2x" src="/images/case-studies/duffield/responsive.jpg" class="e-folio-fullwidth u-space-top-24" loading="lazy">
	</div>

	<div class="b-article l-content-container l-content-container--8-col u-space-top-24">
		<h2 class="e-heading e-heading--l">Measuring the impact</h2>
		<h3 class="e-heading e-heading--m">Results: huge growth in conversions, leads and online revenue</h3>
		<p class="e-text--large">The new design made a huge impact from launch resulting in a significant uplift in leads with Aug 2020 seeing a 4X increase in enquiries compared to the previous year. The leads were also of higher quality, with 85% of online enquiries converting to a sale. This increase in high-quality leads resulted in a 5X growth of online revenue.</p>

		<ul class="e-result-list e-text--large">
			<li class="e-result-list__item">
				<span class="e-result-list__stat">4X </span>
				<span class="e-result-list__detail">increase in leads from online enquiries</span>
			</li>
			<li class="e-result-list__item">
				<span class="e-result-list__stat">5X </span>
				<span class="e-result-list__detail">increase in online revenue</span>
			</li>
			<li class="e-result-list__item">
				<span class="e-result-list__stat">85% </span>
				<span class="e-result-list__detail">conversion of online leads</span>
			</li>
		</ul>
	</div>

	<div class="u-space-top-72">
		{{ contact('cream') }}
	</div>

	{% include "components/b-footer.njk" %}

{% endblock %}
