@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-alert{
	display: flex;
	align-items: flex-start;
	border-radius: 4px;
	padding: 8px 16px;
	border: 1px solid;
	&__text{
		line-height: rem.rem(28);
		padding-bottom: 0;
	}
	&__icon{
		margin: {
			top: 4px;
			right: 16px;
		}
	}
	&__link{
		color: colours.$text-neutral;
	}
 	&--info{
		background: colours.$background-neutral;
		border-color: colours.$border-neutral;
	}
}

@include breakpoint.breakpoint(small){
	.b-alert{
		padding: {
			left: 8px;
			right: 8px;
		}
		&__icon{
			margin-right: 12px;
		}
	}
}
