@use 'tools/mixins/breakpoint';

.b-article{
	.e-heading--l{
		padding-top: 32px;
		padding-bottom: 16px;
	}
	.e-heading--m{
		padding-top: 16px;
		padding-bottom: 8px;
	}
	.e-heading--l + .e-heading--m{
		padding-top: 0;
	}
	.e-text--large{
		padding-bottom: 16px;
	}
}

@include breakpoint.breakpoint(small){
	.b-article{
		.e-heading--l{
			padding-top: 24px;
		}
		.e-heading--m{
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}
