@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-case-header{
	background: colours.$background-cream;
	padding: 32px 0;
}

@include breakpoint.breakpoint('small'){
	.b-case-header{
		padding: 24px 0;
	}
}
