@use 'tools/variables/colours';

.b-contact{
	background: colours.$background-cream;
	text-align: center;
	padding: 64px 0 72px;
	&__heading{
		margin: 0 auto;
		max-width: 340px;
		padding-bottom: 24px;
	}
	&__copy{
		padding-bottom: 32px;
		color: colours.$text-secondary;
	}
	&__footnote{
		margin-top: 8px;
		color: colours.$text-secondary;
	}
}
