@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-contact{
	padding: {
		top: 56px;
		bottom: 56px;
	}
	text-align: center;
	background: colours.$background-off-white;
	&__heading{
		padding-bottom: 16px;
	}
	&__copy{
		padding-bottom: 32px;
		color: colours.$text-secondary;
	}
}

@include breakpoint.breakpoint(large){
	.b-contact{
		padding: {
			top: 40px;
			bottom: 48px;
		}
		&__heading{
			padding-bottom: 8px;
		}
		&__copy{
			padding-bottom: 24px;
		}
	}
}
