@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-experience{
	position: relative;
	padding: {
		top: 160px;
		bottom: 192px;
	}
	&__copy{
		text-align: center;
		color: colours.$text-secondary;
		margin: {
			right: auto;
			left: auto;
		}
		max-width: 610px;
	}
	&__img{
		position: absolute;
		&--itv{
			top: 44px;
			right: 26%;
		}
		&--home-office{
			bottom: 42px;
			right: 19%;
		}
		&--wagg{
			top: 161px;
			right: 12%;
		}
		&--playstation{
			top: 36px;
			left: 16%;
		}
		&--nhs{
			bottom: 72px;
			left: 30%
		}
		&--luhv{
			top: 176px;
			left: 9%;
		}
	}
}

@include breakpoint.breakpoint(large){
	.b-experience{
		&__img{
			transform: scale(0.9);
			&--itv{
				top: 40px;
				right: 23%;
			}
			&--home-office{
				bottom: 38px;
				right: 17%;
			}
			&--wagg{
				right: 9%;
			}
			&--playstation{
				top: 30px;
				left: 13%;
			}
			&--nhs{
				bottom: 68px;
				left: 24%
			}
			&--luhv{
				left: 4%;
			}
		}
	}
}
