@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-footer{
	background: colours.$background-biscuit;
	padding: 16px 0;
	&__container{
		display: flex;
	}
	&__left,
	&__middle,
	&__right{
		flex: 1;
	}
	&__middle{
		text-align: center;
	}
	&__right{
		text-align: right;
	}
}

@include breakpoint.breakpoint(medium){
	.b-footer{
		padding-bottom: 32px;
		&__container{
			display: block;
		}
		&__left,
		&__right{
			text-align: center;
		}
	}
}
