@use 'tools/variables/colours';

.b-folio-details{
	max-width: 506px;
	&__heading{
		padding: 16px 0;
	}
	&__copy{
		padding-bottom: 16px;
	}
	&--dark &{
		&__heading{
			color: #fff;
		}
		&__copy{
			color: colours.$text-off-white;
		}
	}
}
