@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-header{
	background: colours.$background-dark;
	color: colours.$text-off-white;
	padding: {
		top: 32px;
		bottom: 104px;
	}
	&__heading{
		color: #fff;
		padding: {
			top: 48px;
			bottom: 32px;
		}
	}
	&__intro{
		padding-bottom: 8px;
	}
	&__footnote{
		font-size: rem.rem(16);
	}
	&__link{
		color: #fff;
	}

	.b-navigation{
		&__link{
			color: colours.$text-off-white;
			&:hover,
			&:focus{

			}
			&--active{
				color: #fff;
			}
		}
	}
}
