@use 'tools/functions/rem';
@use 'tools/mixins/breakpoint';
@use 'tools/variables/colours';

.b-header{
	background: colours.$background-cream;
	padding: {
		top: 32px;
		bottom: 144px;
	}
	&__heading{
		padding: {
			top: 48px;
			bottom: 32px;
		}
	}
	&__intro{
		color: colours.$text-secondary;
		font-size: rem.rem(36);
		line-height: rem.rem(48);
		letter-spacing: -0.03em;
		max-width: 57%;
	}
}

@include breakpoint.breakpoint(large){
	.b-header{
		padding-bottom: 104px;
		&__heading{
			padding: {
				top: 40px;
				bottom: 24px;
			}
		}
		&__intro{
			font-size: rem.rem(24);
			line-height: rem.rem(36);
			max-width: 50%;
		}
	}
}

@include breakpoint.breakpoint(medium){
	.b-header{
		&__intro{
			max-width: 75%;
		}
	}
}

@include breakpoint.breakpoint('type-break-2'){
	.b-header{
		padding: {
			top: 24px;
			bottom: 72px;
		}
		&__intro{
			font-size: rem.rem(21);
			line-height: rem.rem(32);
		}
	}
}

@include breakpoint.breakpoint('small'){
	.b-header{
		&__intro{
			max-width: none;
		}
	}
}
